# Sett dette per maskin (IKKE commit .env)
DOCKER_UID=1000
DOCKER_GID=1000

# ROS 2 DDS domain (0 er default)
ROS_DOMAIN_ID=0
ROS_LOCALHOST_ONLY=0
ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
ROS_STATIC_PEERS=
VIDEO_GID=44
