<?xml version="1.0"?>

<gui>
<window>
  <position_x>-1</position_x>
  <position_y>-1</position_y>
  <state/>
  <width>1536</width>
  <height>960</height>
  <style material_theme="Dark" material_primary="#80cbc4" material_accent="#c5e1a5"/>
  <menus>
    <drawer visible="true" default="true"/>
    <plugins visible="true" from_paths="true"/>
  </menus>
</window>

<plugin filename="MinimalScene">
  <gz-gui>
    <title>3D View</title>
    <property key="x" type="double">0</property>
    <property key="y" type="double">0</property>
    <property key="width" type="double">1116</property>
    <property key="height" type="double">911</property>
    <property key="state" type="string">docked</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
  <engine>ogre2</engine>
  <scene>scene</scene>
  <ambient_light>0.4 0.4 0.4</ambient_light>
  <background_color>0.8 0.8 0.8</background_color>
  <camera_pose>-3 0 2 0 0.5 0</camera_pose>
  <camera_clip>
    <near>0.25</near>
    <far>25000</far>
  </camera_clip>
 </plugin>

<plugin filename="GzSceneManager">
  <gz-gui>
    <property key="state" type="string">docked_collapsed</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="InteractiveViewControl">
  <gz-gui>
    <property key="state" type="string">docked_collapsed</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="WorldControl">
  <gz-gui>
    <title>World control</title>
    <property key="x" type="double">0</property>
    <property key="y" type="double">811</property>
    <property key="width" type="double">282</property>
    <property key="height" type="double">100</property>
    <property key="state" type="string">floating</property>
  </gz-gui>
  <play_pause>true</play_pause>
  <step>true</step>
</plugin>

<plugin filename="WorldStats">
  <gz-gui>
    <title>World stats</title>
    <property key="x" type="double">826</property>
    <property key="y" type="double">801</property>
    <property key="width" type="double">290</property>
    <property key="height" type="double">110</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="resizable" type="bool">false</property>
  </gz-gui>
  <sim_time>true</sim_time>
  <real_time>true</real_time>
  <real_time_factor>true</real_time_factor>
  <iterations>true</iterations>
</plugin>

<plugin filename="EntityTree">
  <gz-gui>
    <property key="state" type="string">docked</property>
  </gz-gui>
</plugin>

<plugin filename="KeyPublisher">
  <gz-gui>
    <property key="state" type="string">docked_collapsed</property>
  </gz-gui>
</plugin>

</gui>
